__pycache__
QUIZ_CLEAN/WORD
raw_input_files
.env
QUIZ_CLEAN/JSON/backup

# Streamlit secrets
.streamlit/

metadata_answers_gemini.json
answers_gemini_final.json
users.json
quiz_logs.json

venv/

GOOGLE_SHEETS_SETUP.md